<div class="input_container">
    <h3>Lista de Tarefas</h3>
    <div class="input_wrapper">
        <input type="text" placeholder="Escreva uma tarefa" #inputTarefa (keyup.enter)="adicionar(inputTarefa.value); inputTarefa.value=''"/>
        <button type="button" (click)="adicionar(inputTarefa.value); inputTarefa.value=''">Adicionar</button>
    </div>
    <ul>
        <li *ngFor="let tarefa of listaTarefas">
        <div class="ul_item" (click)="handleChangeConcluidoState(tarefa.id)">
            <p *ngIf="!tarefa.concluido" class="concluir">{{tarefa.nome}}</p>
            <p *ngIf="tarefa.concluido" class="concluido">{{tarefa.nome}}</p>
            <button (click)="deletar(tarefa.id)"><span class="material-icons">delete</span></button>
        </div>
        </li>
    </ul>